.chrome-nofollow-link {
  border: 2px red dotted;
}

#chrome_nofollow_notify {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  bottom: 2%;
  right: 2%;
  font-size: 13px;
  color: #ccc;
  cursor: default;
  z-index: 9999;
  line-height: 1.4;
  vertical-align: baseline;
  background: #222;
  padding: 5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  border: 1px solid #999;
  margin: 0px;
  opacity: 0.9;
}
.chrome-nofollow-text-false {
  color: aqua;
}

.chrome-nofollow-text-true {
  font-weight: 400;
  color: red;
}