.chrome-nofollow-link {
    border: 2px red dotted;
}
#chrome_nofollow_notify {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    bottom: 2%;
    right: 2%;
    font-size: 13px;
    cursor: default;
    z-index: 9999;
    line-height: 1.4;
    vertical-align: baseline;
    background: #222;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #999;
    margin: 0px;
    opacity: 0.9;
    cursor: pointer;
    color: #333;
    overflow: hidden;
    width: 10px;
    height: 10px;
    text-align: left !important;
}
#chrome_nofollow_notify.chrome-nofollow-box-open {
    color: #ccc;
    overflow: visible;
    width: auto;
    height: auto;
}
.chrome-nofollow-text-false {
    color: gray;
}
.chrome-nofollow-text-true {
    font-weight: 400;
    color: red;
}
.chrome-canonical-false {
    color: grey;
}
.chrome-canonical-same {
    color: #CCC;
}
.chrome-canonical-exsist {
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    font-weight: 400;
    color: yellow;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#chrome_nofollow_notify a {
    text-decoration: underline !important; 
    color: skyblue !important;
}
#chrome_nofollow_notify a:hover {
    text-decoration: none !important;
    color: skyblue !important;
}
